<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Disable directory listing
    Options -Indexes
    
    # If the request is for a file or directory that exists, serve it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Otherwise, redirect everything to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
