@media only screen and (min-width:1600px) and (max-width:1799px) {
}

@media only screen and (min-width:1400px) and (max-width:1599px) {
.home-ban .ban-text{width: 1320px;}
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
.home-ban .ban-text{width: 1140px;}
}

/** 5.0 - 1200 - Desktop **/
@media only screen and (min-width:992px) and (max-width:1199px) {
.stat-number{font-size: 30px; line-height: 30px;}
.stat-label{font-size: 12px;}
.hero-event-title{font-size: 30px; line-height: 45px;}
}

/** 7.0 - 768 - iPad **/
@media only screen and (min-width: 768px) and (max-width: 991px) {
.hero-section{padding: 50px 20px}
.hero-section .container-fluid{flex-wrap: wrap;}
.hero-section .left, .hero-section .right{width: 100%;}
.hero-section .left{margin: 0 0 20px;}
.stat-number{font-size: 30px; line-height: 30px;}
.stat-label{font-size: 12px;}
.why-choose .col-lg-6{margin: 20px 0}
}

/** 8.0 - 640 - Mobile **/
@media only screen and (min-width: 640px) and (max-width: 767px) {
.hero-section{padding: 50px 20px}
.hero-section .container-fluid{flex-wrap: wrap;}
.hero-section .left, .hero-section .right{width: 100%;}
.hero-section .left{margin: 0 0 20px;}
.hero-event-date{font-size: 16px; line-height: 40px;}
.hero-event-title{font-size: 30px; line-height: 45px;}
.countdown {flex-wrap: wrap;}
.countdown .ms-4{margin: 10px 0 0 !important}
.card-content {padding: 30px;}
.section-header h2{font-size: 26px; line-height: 34px;}
.stat-number{font-size: 40px; line-height: 40px;}
.why-choose .col-lg-6{margin: 20px 0}

.mobile{display: block;}
.desktop{display: none;}
}

/** 9.0 - 480 - Mobile **/
@media only screen and (min-width: 480px) and (max-width: 639px) {
.hero-section{padding: 50px 20px}
.hero-section .container-fluid{flex-wrap: wrap;}
.hero-section .left, .hero-section .right{width: 100%;}
.hero-section .left{margin: 0 0 20px;}
.hero-event-date{font-size: 16px; line-height: 40px;}
.hero-event-title{font-size: 30px; line-height: 45px;}
.countdown {flex-wrap: wrap;}
.countdown .ms-4{margin: 10px 0 0 !important}
.card-content {padding: 30px;}
.card-content div a{margin: 10px 0!important}
.section-header h2{font-size: 26px; line-height: 34px;}
.stat-number{font-size: 40px; line-height: 40px;}
.why-choose .col-lg-6{margin: 20px 0}

.mobile{display: block;}
.desktop{display: none;}
}

/** 10.0 - 320 - Mobile **/
@media only screen and (min-width: 320px) and (max-width: 479px) {
.hero-section{padding: 50px 20px}
.hero-section .container-fluid{flex-wrap: wrap;}
.hero-section .left, .hero-section .right{width: 100%;}
.hero-section .left{margin: 0 0 20px;}
.hero-event-date{font-size: 16px; line-height: 40px;}
.hero-event-title{font-size: 30px; line-height: 45px;}
.countdown {flex-wrap: wrap;}
.countdown .ms-4{margin: 10px 0 0 !important}
.card-content {padding: 30px;}
.card-content div a{margin: 10px 0!important}
.section-header h2{font-size: 26px; line-height: 34px;}
.stat-number{font-size: 40px; line-height: 40px;}
.why-choose .col-lg-6{margin: 20px 0}

.mobile{display: block;}
.desktop{display: none;}
}